@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&family=Rock+Salt&display=swap');

.Form {
    background-color: white;
    padding: 20px;
    width: 40vw;
    height: 34vh;
    margin-top: 5vw;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input_elements{
    padding: 4px;
}
.input_label{
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
    padding: 3px;
    margin-bottom: 2px;
    font-size: 1.2rem;
}

.button{
    font-family: 'Poppins', sans-serif;
    margin-top: 5px;
    font-size: 1 rem;
    font-weight: 700;
    padding: 6px;
    border-radius: 5px;
    background-color: rgb(211, 64, 189);
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    border: none;
    transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button:hover{
    transform: scale(1.1);
}

.input_field {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
    .input_field {
      width: 80%;
    }
  }
  
  